<div class="container">
  <div class="profile">
    <div class="header">
      <h1 class="combName">
        Welcome <%currentUser.name.split(" ").forEach((str, key, arr)=>{ %>
        <span>
          <%-str.charAt(0).toUpperCase()+str.slice(1).toLowerCase()%>
        </span>
        <% })%><span class="nameCap"> !</span>
      </h1>
    </div>
    <p>
      Here are all your pizzas! Enjoy it. If you want to register one,
      <a href="/register-pizza"
        ><button class="updateBtn">click here!</button></a
      >
    </p>
  </div>
  <%- currentUser.userPizza.review %>
  <div class="allpizzas">
    <% currentUser.userPizza.forEach(pizza => { %>

    <div class="card pizzasCard" style="width: 18rem">
      <div class="center-image">
        <img
          src="<%-pizza.imageUrl%>"
          class="card-img-top imageCard"
          alt="..."
        />
      </div>
      <div class="card-body">
        <h3 class="card-title" style="padding: 20px 0">
          <%-pizza.namePizza.toUpperCase(0)%>
        </h3>
        <p class="card-text" style="padding: 10px 0">
          <svg
            id="mapIcon"
            data-name="Layer 1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 122.88 95"
          >
            <defs>
              <style>
                .cls-1 {
                  fill: #650001;
                }
                .cls-1,
                .cls-2 {
                  fill-rule: evenodd;
                }
                .cls-2 {
                  fill: #ff931e;
                }
              </style>
            </defs>
            <title>location</title>
            <path
              class="cls-2"
              d="M79.06,83.64A70.16,70.16,0,0,1,63.78,96.28a2.15,2.15,0,0,1-2.45.08,86.21,86.21,0,0,1-21.25-19C32.34,67.69,27.46,56.92,25.8,46.55s-.11-20.63,5.12-28.86a35.35,35.35,0,0,1,7.91-8.76C46.21,3.05,54.64-.06,63,0A34.1,34.1,0,0,1,86,9.38a33.87,33.87,0,0,1,6.13,7.47c5.63,9.27,6.84,21.09,4.37,33.07a72.84,72.84,0,0,1-17.46,33.7v0ZM61.44,18.7A18.06,18.06,0,1,1,43.38,36.76,18.06,18.06,0,0,1,61.44,18.7Z"
            />
          </svg>

          <strong>City:</strong><%pizza.city.split(" ").forEach(str=>{ %>
          <span>
            <%-str.charAt(0).toUpperCase()+str.slice(1).toLowerCase()%>
          </span>
          <%}) %>- <b>Country:</b> <%pizza.country.split(" ").forEach(str=>{ %>
          <span>
            <%-str.charAt(0).toUpperCase()+str.slice(1).toLowerCase()%>
          </span>
          <%}) %>
        </p>
        <p class="card-text ingredientsDisplay" style="padding: 10px 0">
         <b>Ingredients:</b>
          <ul>
            <%pizza.ingredients.forEach(ingredient=>{ %>
            <li><%-ingredient%></li>
            <%}) %>
          </ul>
        </p>

        <p class="card-text" style="padding: 10px 0 20px 0">
          <b>Review:</b><br><%-pizza.review%>
        </p>
        <div class="btnProfile">
          <a href="/update/<%-pizza._id%>" class="btn btn-primary"
            ><button class="updateBtn">update</button></a
          >
          <a href="/delete/<%-pizza._id%>" class="btn btn-primary"
            ><button class="updateBtn">delete</button></a
          >
        </div>
      </div>
    </div>
    <%}) %>
  </div>
  <a href=""></a>
</div>
