<h1>Welcome <%- currentUser.name %> !</h1>
<%- currentUser.userPizza.review %>
<div class="allpizzas">
  <% currentUser.userPizza.forEach(pizza => { %>

  <div class="card pizzasCard" style="width: 18rem">
    <img src="<%-pizza.imageUrl%>" class="card-img-top imageCard" alt="..." />
    <div class="card-body">
      <h5 class="card-title"><%-pizza.namePizza.toUpperCase(0)%></h5>
      <h5 class="card-text"><%-pizza.city%>, <%-pizza.country%></h5>

      <p class="card-text"><%-pizza.review%></p>
      <a href="/update/<%-pizza._id%>" class="btn btn-primary">update</a>
      <a href="/delete/<%-pizza._id%>" class="btn btn-primary">delete</a>
    </div>
  </div>
  <%}) %>
</div>
