  <div class="searchInput">
    <p>Search for an Ingredient:</p>
  <form method="POST" action="/search/see-all-pizzas" class="d-flex formSearch" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
        <button class="btn btn-outline-success updateBtn" type="submit">Search</button>
      </form>
      <a href="/see-all-pizzas"><button class="btn btn-outline-success updateBtn" type="submit">Back</button></a>
      </div>
<div class="container">
  <div class="header">
    <h1>All the crazy</h1>
    <img src="/images/pizza.svg" alt="Pizza" class="miniPizza" />
  </div>
  <% if (typeof currentUser === "undefined" ) { %>
  <p class="paragraph">
    Look at all these
    <span style="background-color: #ff931e">crazy pizzas</span>. If you want to
    add some that you already eaten,
    <a href="/auth/signup"><button class="updateBtn">Signup</button></a> and
    come to register one.
  </p>
  <% }else {%>
  <p class="paragraph">
    Look at all these
    <span style="background-color: #ff931e">crazy pizzas</span>. go to your
    <a href="/profile"><button class="updateBtn">Profile Page</button></a> and
    add some crazy pizza flavor that you already eaten.
  </p>
  <%}%>

  <div class="allpizzas">
    <% pizzas.forEach(pizza => { %>

    <div class="card pizzasCard" style="width: 18rem">
      <div class="center-image">
        <img
          src="<%-pizza.imageUrl%>"
          class="card-img-top imageCard"
          alt="..."
        />
      </div>
      <div class="card-body">
        <h3 class="card-title" style="padding: 10px 0">
          <%-pizza.namePizza.toUpperCase(0)%>
        </h3>
       <p class="card-text" style="padding: 10px 0">
          <svg
            id="mapIcon"
            data-name="Layer 1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 122.88 95"
          >
            <defs>
              <style>
                .cls-1 {
                  fill: #650001;
                }
                .cls-1,
                .cls-2 {
                  fill-rule: evenodd;
                }
                .cls-2 {
                  fill: #ff931e;
                }
              </style>
            </defs>
            <title>location</title>
            <path
              class="cls-2"
              d="M79.06,83.64A70.16,70.16,0,0,1,63.78,96.28a2.15,2.15,0,0,1-2.45.08,86.21,86.21,0,0,1-21.25-19C32.34,67.69,27.46,56.92,25.8,46.55s-.11-20.63,5.12-28.86a35.35,35.35,0,0,1,7.91-8.76C46.21,3.05,54.64-.06,63,0A34.1,34.1,0,0,1,86,9.38a33.87,33.87,0,0,1,6.13,7.47c5.63,9.27,6.84,21.09,4.37,33.07a72.84,72.84,0,0,1-17.46,33.7v0ZM61.44,18.7A18.06,18.06,0,1,1,43.38,36.76,18.06,18.06,0,0,1,61.44,18.7Z"
            />
          </svg>

          <strong>City:</strong><%pizza.city.split(" ").forEach(str=>{ %>
          <span>
            <%-str.charAt(0).toUpperCase()+str.slice(1).toLowerCase()%>
          </span>
          <%}) %>- <b>Country:</b> <%pizza.country.split(" ").forEach(str=>{ %>
          <span>
            <%-str.charAt(0).toUpperCase()+str.slice(1).toLowerCase()%>
          </span>
          <%}) %>
        </p>
        <p class="card-text ingredientsDisplay" style="padding: 10px 0">
          <b>Ingredients:</b>
          <ul>
            <%pizza.ingredients.forEach(ingredient=>{ %>
            <li><%-ingredient%></li>
            <%}) %>
          </ul>
        </p>
        <p class="card-text" style="padding: 10px 0"><b>Review:</b><br/><%-pizza.review%></p>
        <div class="likes">
          <div>
            <a href="/likes/<%-pizza._id%>">
              <img
                src="/images/pizza.png"
                alt="pizza"
                class="miniPizza btnLikes likeImg"
              />
            </a>
          </div>
          <% if(pizza.pizzaholic.length === 0) {%>
            <h1 class="likesLength">0</h1>
            <%}else {%>
              <h1 class="likesLength"><%-pizza.pizzaholic.length%></h1>
              <%} %> 
         
        </div>
      </div>
    </div>

    <%}) %>
  </div>
</div>
